<h2>Пользователь отправил новую заявку</h2>
<p>Город: <%= @city %></p>
<hr/>
<p>
  Имя: <%= @order.name %>
</p>

<p>
  E-mail: <%= @order.email%>
</p>
<p>
  Телефон: <%= @order.phone %>
</p>
<p>
  Тема: <%= @order.title %>
</p>
<p>
  Содержание: <%= @order.content %>
</p>
