<h2>Пользователь отправил новую вакансию</h2>
<p>Город: <%= @city %></p>
<hr/>
<p>
  Ф.И.О: <%= @vacancy.fio %>
</p>

<p>
 Специальность: <%= @vacancy.speciality%>
</p>
<p>
  Телефон: <%= @vacancy.telephone %>
</p>
<p>
  Опыт работы: <%= @vacancy.stage %>
</p>
<p>
  Инвентарь: <%= @vacancy.inventory %>
</p>
<p>
  Автомобиль: <%= @vacancy.car %>
</p>

<p>
  Возраст: <%= @vacancy.old %>
</p>
<p>
  Комментарий: <%= @vacancy.comment %>
</p>