<h2>Пользователь отправил жалобу или предложение</h2>
<p>Город: <%= @city %></p>
<hr/>
<p>
  Имя: <%= @order.name %>
</p>

<p>
  E-mail: <%= @order.email%>
</p>
<p>
  Телефон: <%= @order.phone %>
</p>
<p>
  Заголовок: <%= @order.title %>
</p>
<p>
  Содержимое: <%= @order.content %>
</p>
